.DS_Store
\#*
*.out
in_file*
CONDOR/
*~
workspace.code-workspace
MC/RUN
MC/CODE/ATOMIC
build/
_*.c
_*.o
*.pyc
*.mod
*.dat
*.in
*.o
*.so
*.a
*.bc
*.png
*.pdf
out.txt
fort.*
*.log
*.tar.gz
*.asc
doc/html/
doc/latex/
.vscode/
*.x
.ninja*
build.ninja
_build/
DATA
POTATO/VER_2/RUN
POTATO/VER_3/RUN
*.smod
POTATO/BOOZER_TO_EFIT/bmod_n.*
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.plist
*.fls
POTATO/BOOZER_TO_EFIT/efit.eqdsk
POTATO/BOOZER_TO_EFIT/convexwall.boz
POTATO/VER_8/PLOT/subintegrand94_vsJperp.E10
POTATO/VER_8/PLOT/subintegrand94_vsJperp.mE10
POTATO/VER_8/PLOT/subintegrand94_vsJperp.noE10
POTATO/VER_8/PLOT/subintegrand94_vsJperp.noE20
BUILD/
