.DS_Store
\#*
*.out
in_file*
CONDOR/
*~
workspace.code-workspace
MC/RUN
MC/CODE/ATOMIC
build/
_*.c
_*.o
*.pyc
*.mod
*.dat
*.in
*.o
*.so
*.a
*.bc
*.png
*.pdf
out.txt
fort.*
*.log
*.tar.gz
*.asc
doc/html/
doc/latex/
.vscode/
*.x
.ninja*
build.ninja
_build/
DATA
POTATO/VER_2/RUN
POTATO/VER_3/RUN
*.smod
