name: NEO-RT

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        config: [Debug, Fast]

    steps:
    - uses: actions/checkout@v3

    - name: Install build dependencies
      run: |
        make deps

    - name: Install Python test dependencies
      run: |
        pip install pytest numpy

    - name: Build code
      run: |
        make CONFIG=${{ matrix.config }}

    - name: Run tests
      run: |
        make test
