name: NEO-RT

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        config: [Debug, Fast]

    strategy:
      matrix:
        config: [Fast, Debug]

    steps:
    - uses: actions/checkout@v3

    - name: Install build dependencies
      run: |
        make deps

    - name: Install Python test dependencies
      run: |
        pip install pytest numpy h5py f90nml scipy

    - name: Build code
      run: |
        make CONFIG=${{ matrix.config }}

    - name: Run ctest
      run: |
        make ctest

    - name: Run pytest (all tests for Fast)
      if: matrix.config == 'Fast'
      run: |
        make pytest

    - name: Run pytest (skip golden record for Debug)
      if: matrix.config != 'Fast'
      run: |
        pytest -m "not fast_only"
